@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");

html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0
}
.cd-header {
  height: 75px;
  background-color: #2E3740;
}

.cd-header h1 {
  font-size: 1.728em;
  font-weight: 300;
  color: white;
  text-align: center;
}

body {
  background-color: white;
  font-size: var(--text-base-size, 1em);
  font-family: 'Open Sans', sans-serif;
  color: hsl(240, 4%, 20%);
}
.for-padding{
  padding-top: 3%;
  text-align: center;
  background-color: #2E3740;
  color: white;
  margin: auto;
 width: 74%;
 padding: 10px;
}
ol, ul {
  list-style: none
}

:root {
  --space-unit: 1em;
  --space-xxxxs: calc(0.125*var(--space-unit));
  --space-xxxs: calc(0.25*var(--space-unit));
  --space-xxs: calc(0.375*var(--space-unit));
  --space-xs: calc(0.5*var(--space-unit));
  --space-sm: calc(0.75*var(--space-unit));
  --space-md: calc(1.25*var(--space-unit));
  --space-lg: calc(2*var(--space-unit));
  --space-xl: calc(3.25*var(--space-unit));
  --space-xxl: calc(5.25*var(--space-unit));
  --space-xxxl: calc(8.5*var(--space-unit));
  --space-xxxxl: calc(13.75*var(--space-unit));
  --component-padding: var(--space-md)
}

:root {
  --max-width-xxs: 32rem;
  --max-width-xs: 38rem;
  --max-width-sm: 48rem;
  --max-width-md: 64rem;
  --max-width-lg: 80rem;
  --max-width-xl: 90rem;
  --max-width-xxl: 120rem
}

.container {
  width: calc(100% - 1.25em);
  margin-left: auto;
  margin-right: auto;
}

.max-width-md {
  max-width: 64rem;
}

:root {
  --radius-sm: calc(var(--radius, 0.25em)/2);
  --radius-md: var(--radius, 0.25em);
  --radius-lg: calc(var(--radius, 0.25em)*2);
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1);
  --shadow-md: 0 1px 8px rgba(0, 0, 0, .1), 0 8px 24px rgba(0, 0, 0, .15);
  --shadow-lg: 0 1px 8px rgba(0, 0, 0, .1), 0 16px 48px rgba(0, 0, 0, .1), 0 24px 60px rgba(0, 0, 0, .1);
  --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1)
}

:root {
  --body-line-height: 1.4;
  --heading-line-height: 1.2
}


.text-component {
  margin: auto;
  padding: 10px;
}

.text-component h1, .text-component h2, .text-component h3, .text-component h4 {
  line-height: 1.2;
  margin-bottom: 0.25em;
}

.text-component h2, .text-component h3, .text-component h4 {
  margin-top: 0.75em;
}

.text-component p, .text-component blockquote, .text-component ul li, .text-component ol li {
  line-height: 1.4;
}

.text-component ul, .text-component ol, .text-component p, .text-component blockquote, .text-component .text-component__block {
  margin-bottom: 0.75em;
}

.text-component ul, .text-component ol {
  padding-left: 1em
}

.text-component ul {
  list-style-type: disc
}

.text-component__block--full-width {
  width: 100vw;
  margin-left: calc(50% - 50vw)
}

@media (min-width: 48rem) {
  .text-component__block--left, .text-component__block--right {
    width: 45%
  }

  .text-component__block--left img, .text-component__block--right img {
    width: 100%
  }

  .text-component__block--left {
    float: left;
    margin-right: 0.75em;
  }

  .text-component__block--right {
    float: right;
    margin-left: 0.75em;
  }
}

:root, [data-theme="default"] {
  --color-primary-darker: hsl(220, 90%, 36%);
  --color-primary-darker-h: 220;
  --color-primary-darker-s: 90%;
  --color-primary-darker-l: 36%;
  --color-primary-dark: hsl(220, 90%, 46%);
  --color-primary-dark-h: 220;
  --color-primary-dark-s: 90%;
  --color-primary-dark-l: 46%;
  --color-primary: hsl(220, 90%, 56%);
  --color-primary-h: 220;
  --color-primary-s: 90%;
  --color-primary-l: 56%;
  --color-primary-light: hsl(220, 90%, 66%);
  --color-primary-light-h: 220;
  --color-primary-light-s: 90%;
  --color-primary-light-l: 66%;
  --color-primary-lighter: hsl(220, 90%, 76%);
  --color-primary-lighter-h: 220;
  --color-primary-lighter-s: 90%;
  --color-primary-lighter-l: 76%;
  --color-accent-darker: hsl(355, 90%, 41%);
  --color-accent-darker-h: 355;
  --color-accent-darker-s: 90%;
  --color-accent-darker-l: 41%;
  --color-accent-dark: hsl(355, 90%, 51%);
  --color-accent-dark-h: 355;
  --color-accent-dark-s: 90%;
  --color-accent-dark-l: 51%;
  --color-accent: hsl(355, 90%, 61%);
  --color-accent-h: 355;
  --color-accent-s: 90%;
  --color-accent-l: 61%;
  --color-accent-light: hsl(355, 90%, 71%);
  --color-accent-light-h: 355;
  --color-accent-light-s: 90%;
  --color-accent-light-l: 71%;
  --color-accent-lighter: hsl(355, 90%, 81%);
  --color-accent-lighter-h: 355;
  --color-accent-lighter-s: 90%;
  --color-accent-lighter-l: 81%;
  --color-black: hsl(240, 8%, 12%);
  --color-black-h: 240;
  --color-black-s: 8%;
  --color-black-l: 12%;
  --color-white: hsl(0, 0%, 100%);
  --color-white-h: 0;
  --color-white-s: 0%;
  --color-white-l: 100%;
  --color-success-darker: hsl(94, 48%, 36%);
  --color-success-darker-h: 94;
  --color-success-darker-s: 48%;
  --color-success-darker-l: 36%;
  --color-success-dark: hsl(94, 48%, 46%);
  --color-success-dark-h: 94;
  --color-success-dark-s: 48%;
  --color-success-dark-l: 46%;
  --color-success: hsl(94, 48%, 56%);
  --color-success-h: 94;
  --color-success-s: 48%;
  --color-success-l: 56%;
  --color-success-light: hsl(94, 48%, 66%);
  --color-success-light-h: 94;
  --color-success-light-s: 48%;
  --color-success-light-l: 66%;
  --color-success-lighter: hsl(94, 48%, 76%);
  --color-success-lighter-h: 94;
  --color-success-lighter-s: 48%;
  --color-success-lighter-l: 76%;
  --color-error-darker: hsl(355, 90%, 41%);
  --color-error-darker-h: 355;
  --color-error-darker-s: 90%;
  --color-error-darker-l: 41%;
  --color-error-dark: hsl(355, 90%, 51%);
  --color-error-dark-h: 355;
  --color-error-dark-s: 90%;
  --color-error-dark-l: 51%;
  --color-error: hsl(355, 90%, 61%);
  --color-error-h: 355;
  --color-error-s: 90%;
  --color-error-l: 61%;
  --color-error-light: hsl(355, 90%, 71%);
  --color-error-light-h: 355;
  --color-error-light-s: 90%;
  --color-error-light-l: 71%;
  --color-error-lighter: hsl(355, 90%, 81%);
  --color-error-lighter-h: 355;
  --color-error-lighter-s: 90%;
  --color-error-lighter-l: 81%;
  --color-warning-darker: hsl(46, 100%, 41%);
  --color-warning-darker-h: 46;
  --color-warning-darker-s: 100%;
  --color-warning-darker-l: 41%;
  --color-warning-dark: hsl(46, 100%, 51%);
  --color-warning-dark-h: 46;
  --color-warning-dark-s: 100%;
  --color-warning-dark-l: 51%;
  --color-warning: hsl(46, 100%, 61%);
  --color-warning-h: 46;
  --color-warning-s: 100%;
  --color-warning-l: 61%;
  --color-warning-light: hsl(46, 100%, 71%);
  --color-warning-light-h: 46;
  --color-warning-light-s: 100%;
  --color-warning-light-l: 71%;
  --color-warning-lighter: hsl(46, 100%, 81%);
  --color-warning-lighter-h: 46;
  --color-warning-lighter-s: 100%;
  --color-warning-lighter-l: 81%;
  --color-bg: hsl(0, 0%, 100%);
  --color-bg-h: 0;
  --color-bg-s: 0%;
  --color-bg-l: 100%;
  --color-contrast-lower: hsl(0, 0%, 95%);
  --color-contrast-lower-h: 0;
  --color-contrast-lower-s: 0%;
  --color-contrast-lower-l: 95%;
  --color-contrast-low: hsl(240, 1%, 83%);
  --color-contrast-low-h: 240;
  --color-contrast-low-s: 1%;
  --color-contrast-low-l: 83%;
  --color-contrast-medium: hsl(240, 1%, 48%);
  --color-contrast-medium-h: 240;
  --color-contrast-medium-s: 1%;
  --color-contrast-medium-l: 48%;
  --color-contrast-high: hsl(240, 4%, 20%);
  --color-contrast-high-h: 240;
  --color-contrast-high-s: 4%;
  --color-contrast-high-l: 20%;
  --color-contrast-higher: hsl(240, 8%, 12%);
  --color-contrast-higher-h: 240;
  --color-contrast-higher-s: 8%;
  --color-contrast-higher-l: 12%
}

@supports (--css: variables) {
  @media (min-width: 64rem) {
    :root {
      --space-unit: 1.25em
    }
  }
}

:root {
  --radius: 0.25em
}

:root {
  --font-primary: sans-serif;
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  --text-xs: calc(1em/var(--text-scale-ratio)/var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs)*var(--text-scale-ratio));
  --text-md: calc(var(--text-sm)*var(--text-scale-ratio)*var(--text-scale-ratio));
  --text-lg: calc(var(--text-md)*var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg)*var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl)*var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl)*var(--text-scale-ratio));
  --body-line-height: 1.4;
  --heading-line-height: 1.2;
  --font-primary-capital-letter: 1
}

@supports (--css: variables) {
  @media (min-width: 64rem) {
    :root {
      --text-base-size: 1.25em;
      --text-scale-ratio: 1.25
    }
  }
}

:root {
  --btn-font-size: 1em;
  --btn-font-size-sm: calc(var(--btn-font-size) - 0.2em);
  --btn-font-size-md: calc(var(--btn-font-size) + 0.2em);
  --btn-font-size-lg: calc(var(--btn-font-size) + 0.4em);
  --btn-radius: 0.25em;
  --btn-padding-x: var(--space-sm);
  --btn-padding-y: var(--space-xs)
}

:root {
  --form-control-padding-x: var(--space-sm);
  --form-control-padding-y: var(--space-xs);
  --form-control-radius: 0.25em
}

:root {
  --cd-color-1: hsl(213, 7%, 33%);
  --cd-color-1-h: 213;
  --cd-color-1-s: 7%;
  --cd-color-1-l: 33%;
  --cd-color-2: hsl(73, 46%, 55%);
  --cd-color-2-h: 73;
  --cd-color-2-s: 46%;
  --cd-color-2-l: 55%;
  --cd-color-3: hsl(210, 14%, 49%);
  --cd-color-3-h: 210;
  --cd-color-3-s: 14%;
  --cd-color-3-l: 49%;
  --cd-color-4: hsl(0, 0%, 100%);
  --cd-color-4-h: 0;
  --cd-color-4-s: 0%;
  --cd-color-4-l: 100%;
  --font-primary: 'Open Sans', sans-serif
}

.cd-faq {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1);
}

.cd-faq::before {
  content: 'mobile';
  display: none
}

.cd-faq a {
  text-decoration: none
}

@media (min-width: 64rem) {
  .cd-faq {
    position: relative;
    box-shadow: none;
    display: -ms-flexbox;
    display: flex
  }

  .cd-faq::before {
    content: 'desktop'
  }
}

@media (min-width: 64rem) {
  .cd-faq__categories {
    position: -webkit-sticky;
    position: sticky;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    top: 20px;
    width: 20%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1);
    margin-top: 1.25em;
  }
}

@media (min-width: 80rem) {
  .cd-faq__categories {
    width: 200px
  }
}

.cd-faq__category {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 2em 0 1.05em;
  color: hsl(0, 0%, 100%);
  background-color: hsl(213, 7%, 33%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --border-color: hsl(213, 7%, 36.3%);
  border-bottom: 1px solid hsl(213, 7%, 36.3%);
}

.cd-faq__category::before, .cd-faq__category::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: hsl(213, 7%, 52.8%);
}

.cd-faq__category::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

li:last-child .cd-faq__category {
  border-bottom: none
}

@media (min-width: 64rem) {
  .cd-faq__category {
    font-size: 0.69444em;
    font-weight: 600;
    padding: 0 1.25em;
    transition: background .2s
  }

  .cd-faq__category::before, .cd-faq__category::after {
    display: none
  }

  .cd-faq__category:hover {
    background: hsl(213, 7%, 36.3%);
  }
}

@media (min-width: 80rem) {
  .cd-faq__category::before {
    display: block;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: hsl(73, 46%, 55%);
    opacity: 0;
    transition: opacity .2s
  }
}

@media (min-width: 80rem) {
  .cd-faq__category-selected {
    background: hsl(213, 7%, 26.4%);
  }

  .cd-faq__category-selected:hover {
    background: hsl(213, 7%, 26.4%);
  }

  .cd-faq__category-selected::before {
    opacity: 1
  }
}

.cd-faq__items {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: hsl(0, 0%, 100%);
  padding: 0 1.25em 1.25em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s
}

@media (min-width: 64rem) {
  .cd-faq__items {
    position: static;
    height: auto;
    width: auto;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    padding: 0 0 0 0.75em;
    background: transparent
  }
}

.cd-faq__items--slide-in {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}

html:not(.js) .cd-faq__items {
  position: static;
  height: auto;
  width: 100%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}

.cd-faq__group {
  display: none
}

@media (min-width: 64rem) {
  .cd-faq__group {
    display: block;
    padding-top: 1px
  }
}

html:not(.js) .cd-faq__group, .cd-faq__group--selected {
  display: block
}

.cd-faq__title {
  margin: 1.25em 0;
  margin: var(--space-md) 0
}

.cd-faq__title h2 {
  text-transform: uppercase;
  font-size: 0.83333em;
  font-weight: 700;
  color: hsl(240, 1%, 74.7%);
}

@media (min-width: 64rem) {
  .cd-faq__title {
    margin-bottom: 0.75em;
  }

  .cd-faq__title h2 {
    font-size: 0.69444em;
  }
}

@media (min-width: 64rem) {
  .cd-faq__item {
    background: hsl(0, 0%, 100%);
    margin-bottom: 0.25em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    transition: box-shadow .2s
  }

  .cd-faq__item:hover {
    --box-shadow: hsla(210, 14%, 49%, 0.3);
    --box-shadow: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.3);
    box-shadow: undefined;
    box-shadow: 0 1px 10px var(--box-shadow)
  }

  @media (min-width: 64rem) {
    .cd-faq__item:hover {
      box-shadow: 0 1px 10px hsla(210, 14%, 49%, 0.3);
      box-shadow: 0 1px 10px var(--box-shadow)
    }
  }

  .cd-faq__item:last-of-type {
    margin-bottom: 0
  }
}

.cd-faq__trigger {
  display: block;
  position: relative;
  margin: 1.25em 0 0.5em;
  color: hsl(73, 46%, 55%);
}

@media (min-width: 64rem) {
  .cd-faq__trigger {
    font-weight: 300;
    margin: 0;
    padding: 0.75em 2em 0.75em 0.75em;
  }

  .cd-faq__trigger span {
    font-size: 1.2em;
  }

  .cd-faq__trigger::before, .cd-faq__trigger::after {
    content: '';
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: hsl(73, 46%, 71.5%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s
  }

  .cd-faq__trigger::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px
  }

  .cd-faq__trigger::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }

  .cd-faq__item-visible .cd-faq__trigger::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }

  .cd-faq__item-visible .cd-faq__trigger::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}

.cd-faq__content .text-component {
  font-size: 0.95em
}

.cd-faq__content p {
  color: hsl(210, 14%, 49%);
}

@media (min-width: 64rem) {
  .cd-faq__content {
    display: none;
    padding: 0 0.75em;
    overflow: hidden
  }

  .cd-faq__content .text-component {
    font-size: 0.75em;
    padding-bottom: 1.25em;
  }
}

.cd-faq__content--visible {
  display: block
}

@media (min-width: 64rem) {
  html:not(.js) .cd-faq__content {
    display: block
  }
}

.cd-faq__close-panel {
  position: fixed;
  z-index: 2;
  display: block;
  top: 5px;
  right: -40px;
  height: 40px;
  width: 40px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: right .3s
}

.cd-faq__close-panel::before, .cd-faq__close-panel::after {
  content: '';
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  height: 3px;
  width: 18px;
  background: hsl(210, 14%, 49%);
}

.cd-faq__close-panel::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.cd-faq__close-panel::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

@media (min-width: 64rem) {
  .cd-faq__close-panel {
    display: none
  }
}

.cd-faq__close-panel--move-left {
  right: 1.25em;
  transition-delay: 0.3s
}

.cd-faq__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(213, 7%, 33%, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s
}

@media (min-width: 64rem) {
  .cd-faq__overlay {
    display: none
  }
}

.cd-faq__overlay--is-visible {
  visibility: visible;
  opacity: 1
}
